<!DOCTYPE html>
<html lang="zxx">

<head>
    <%- include('./partials/head'); %>
  </head>
  
  <body>
    
  
  <header class="navigation fixed-top">
    <%- include('./partials/header'); %>
  </header>

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Services</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="/images/illustrations/page-title.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="/images/illustrations/leaf-pink-round.png" alt="illustrations" class="bg-shape-2">
  <img src="/images/illustrations/dots-cyan.png" alt="illustrations" class="bg-shape-3">
  <img src="/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-5">
  <img src="/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-6">
  <img src="/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->


<!-- Main Body -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">Web Development</h3>
        
        <div class="content">
          <strong>If you need a website developed, maybe for your business or school e.t.c. I am very capable of delivering 
            that project to you and will go above and beyond to make sure it comes out the way you want it.</strong>
          
        </div>

        
      </div>


      <div class="col-lg-12">
        <h3 class="font-tertiary mb-5">Game Development</h3>
        
        <div class="content">
          <strong>Ever wanted to make your dream game, or you need to make a game for your school project to wow everyone or you want to
            submit a game to Game Jam and earn recognition? I am able to provide you with this service that would help you accomplish your dreams.</strong>
          
        </div>


        <div class="col-lg-12">
            <h3 class="font-tertiary mb-5">Video Editing</h3>
            
            <div class="content">
              <strong>Want to start posting on YouTube or TikTok or Instagram but you don't know how to edit or find it too daunting to learn. You
                can contact me and I would help you edit those videos to bring out your inner creativity.</strong>
              
            </div>
    
            
          </div>
        
      </div>
    </div>
  </div>
</section>
<!-- Main Body -->

<!-- contact -->
<section class="section section-on-footer" data-background="images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Info</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="#" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- footer -->
<footer class="bg-dark footer-section">
    <%- include('./partials/footer'); %>
    
    </footer>
<!-- /footer -->

<!-- Scripts -->
<%- include('./partials/scripts'); %>

</body>
</html>